In [4]:
import numpy as np
import pandas as pd

### Question 1: Version of NumPy

In [2]:
np.__version__

'1.21.6'

#### Getting the data

In [5]:
URL = 'https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv'
df = pd.read_csv(URL)
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

### Question 2: Number of records in the dataset

In [7]:
df.shape

(11914, 16)

### Question 3: The most popular car manufacturers

In [14]:
df.Make.value_counts()

Chevrolet        1123
Ford              881
Volkswagen        809
Toyota            746
Dodge             626
Nissan            558
GMC               515
Honda             449
Mazda             423
Cadillac          397
Mercedes-Benz     353
Suzuki            351
BMW               334
Infiniti          330
Audi              328
Hyundai           303
Volvo             281
Subaru            256
Acura             252
Kia               231
Mitsubishi        213
Lexus             202
Buick             196
Chrysler          187
Pontiac           186
Lincoln           164
Oldsmobile        150
Land Rover        143
Porsche           136
Saab              111
Aston Martin       93
Plymouth           82
Bentley            74
Ferrari            69
FIAT               62
Scion              60
Maserati           58
Lamborghini        52
Rolls-Royce        31
Lotus              29
Tesla              18
HUMMER             17
Maybach            16
Alfa Romeo          5
McLaren             5
Spyker              3
Genesis             3
Bugatti             3
Name: Make, dtype: int64

### Question 4: Number of unique Audi car models

In [15]:
df[df.Make == 'Audi'].Model.nunique()

34

### Question 5: Number of columns with missing values

In [25]:
df.isna().any()

Make                 False
Model                False
Year                 False
Engine Fuel Type      True
Engine HP             True
Engine Cylinders      True
Transmission Type    False
Driven_Wheels        False
Number of Doors       True
Market Category       True
Vehicle Size         False
Vehicle Style        False
highway MPG          False
city mpg             False
Popularity           False
MSRP                 False
dtype: bool

### Question 6: Does the median value change after filling missing values?
Find the median value of "Engine Cylinders" column in the dataset.
Next, calculate the most frequent value of the same "Engine Cylinders".
Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
Now, calculate the median value of "Engine Cylinders" once again.

In [32]:
#Median of Engine Cylinders
df['Engine Cylinders'].median()

6.0

In [39]:
#Mode of Engine Cylinders
mode = df['Engine Cylinders'].mode()[0]

In [50]:
#fill missing values with mode 
df = df.fillna(mode)

In [51]:
df['Engine Cylinders'].median()
# did not change

6.0

### Questions 7: Value of the first element of w
Select all the "Lotus" cars from the dataset.
Select only columns "Engine HP", "Engine Cylinders".
Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).
Get the underlying NumPy array. Let's call it X.
Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
Invert XTX.
Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].
Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
What's the value of the first element of w?

In [96]:
# Select all the "Lotus" cars from the dataset
df_lotus = df[df.Make == 'Lotus']
df_lotus_lean = df_lotus[['Engine HP', 'Engine Cylinders']].drop_duplicates()
df_lotus_lean

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3918      217.0               4.0
4216      350.0               8.0
4257      400.0               6.0
4259      276.0               6.0
4262      345.0               6.0
4292      257.0               4.0
4293      240.0               4.0

In [95]:
#underlying numpy array
X = df_lotus_lean.values

#### $(X^TX)^{-1} X^Ty$

In [97]:
XT = X.T

In [98]:
# Matrix Matrix Multiplication
XTX = XT.dot(X)
#Inverting XTX
XTX_inv = np.linalg.inv(XTX)

In [99]:
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

In [100]:
# Multiply the inverse of XTX with the transpose of X
w = XTX_inv.dot(XT).dot(y)
w

array([  4.59494481, -63.56432501])